body{
    font-family: Red Hat Display, sans-serif;
    background-color: hsl(225, 100%, 94%);
    box-sizing: border-box;
    padding: 0;
    margin:0;
    width: auto;
    height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    display: grid;
}

h2, h1, p{
    padding: 0;
    margin: 0;
}

.cardwrapper{
    background-color: white;
    width: 23.4vw;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0rem 1.5rem 4rem rgba(56, 41, 224, 0.151);
    border-radius: 1rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.mainimage{
    width: 300px;
    height: 9em;
    background-image: url(images/illustration-hero.svg);
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0;
}

h1{
    color: hsl(223, 47%, 23%) ;
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 2rem;
}

#caption{
    color: hsl(224, 23%, 55%) ;
    font-size: 0.7rem;
    text-align: center;
    margin: 1rem 2.4rem;
    line-height: 1.1rem;

}

.planchoicewrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.5rem;
    margin: 0 1.8rem;
    margin-bottom: 1.5rem;
}

.planchoicewrapper img{
    margin-left: 1rem;
    width: 2em;
}

.plantype{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 2.2rem 1rem 0.5rem;
}

h2{
    color: hsl(223, 47%, 23%) ;
    font-size: 0.7rem;
    font-weight: 900;
    margin-left: 0.2rem;
}

.planchoicewrapper p{
    color: hsl(224, 23%, 55%) ;
    font-size: 0.7rem;
    line-height: 1rem;
    margin-left: 0.2rem;
    margin-right: 2rem;
}

.planchoicewrapper a{
    color: hsl(245, 75%, 52%);
    font-size: 0.65rem;
    line-height: 1rem;
    padding: 0 1rem 0 0;
    font-weight: 900;
}

.planchoicewrapper a:hover{
    color: #766CF1;
    text-decoration: none;
}

#button{
    background-color: hsl(245, 75%, 52%);
    border-radius: 0.6em;
    font-size: 0.6em;
    border: 0;
    color: white;
    font-weight: 700;
    padding: 1em 7.8em;
    box-shadow: 0em 1em 1em rgba(56, 41, 224, 0.219);
    text-decoration: none;
}

#button:hover{
    background-color:#766CF1;
}

#cancel{
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: 900;
    margin: 1.5rem 0 2rem 0;
}

#cancel:hover{
    color: hsl(223, 47%, 23%);
}

.attribution{
    color:hsl(223, 47%, 23%);
    text-align: center;
    font-size: 0.8rem;
    text-decoration: none;
}

.attribution a{
    text-decoration: none;
    color:hsl(245, 75%, 52%);
}

.attribution a:hover{
    color:#766CF1;
}
@media(min-width:375px){
    main div.cardwrapper{
        width:80vw;
        height: 70vh;
    }
}